<%- include('header.ejs') %>
<link rel="stylesheet" href="/css/about.css">
<main>
    <section class="header_about">
        <div class="head_about">About</div>
    </section>
    <section class="body_about">

        We are providing valuable information to valuable people like you.
        Today world have many incident happen. We are proven the truth of real face, precious history, future technology.
    </section>
</main>








<%-include('footer.ejs')%>